@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

#ucitavanje {
  background-color: #0d3b23;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 2000;
}

#ucitavanje .logo-u {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
}

#ucitavanje .logo-u .dio {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

#ucitavanje .logo-u .dio:first-of-type {
  color: #ffe07a;
}

#ucitavanje .logo-u .dio.active {
  bottom: 0px;
  opacity: 1;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

#ucitavanje .logo-u .dio.fade {
  bottom: 150px;
  opacity: 0;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

a {
  text-decoration: none;
  -webkit-transition: 2s;
  transition: 2s;
}

a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  color: #0d3b23;
}

ul {
  list-style-type: none;
}

header {
  background-color: #0d3b23;
}

header .hb-box {
  text-align: right;
}

header .hb-box #hamburgercic {
  color: #ffe07a;
}

header .hb-box #hamburgercic:hover {
  color: #ffffff;
}

#nav li {
  text-transform: uppercase;
  padding: 0px 5px;
  padding-top: 12px;
  font-size: 13px;
  display: inline-block;
}

#nav li a:hover {
  color: #ffffff;
}

#navigacija-mala {
  position: fixed;
  left: -100vw;
  background-color: #0d3b23;
  text-align: center;
  padding: 10px;
  z-index: 1;
  width: 100vw;
}

#navigacija-mala span {
  color: #ffe07a;
  -webkit-transition: 1s;
  transition: 1s;
}

#navigacija-mala span:hover {
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}

#navigacija-mala.aktiviraj {
  left: 0px;
}

#navigacija-mala .close-btn {
  width: 10px;
  height: 10px;
}

.logo h1 {
  color: #ffffff;
}

.logo h1::first-letter {
  color: #ffe07a;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: #ffe07a;
  margin: 0px;
  text-align: center;
}

h4 {
  font-size: 15px;
  font-weight: 700;
}

.slogan {
  color: #0d3b23;
  font-size: 35px;
  font-weight: 400;
  margin: 0px;
  text-align: center;
}

.b-color {
  color: #ffe07a;
}

.d-color {
  color: #0d3b23;
}

.w75 {
  width: 75%;
}

.slajder {
  margin-bottom: 530px;
}

.slajder .slajd {
  position: relative;
}

.slajder .slajd img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.odabir-box .h1 {
  font-weight: 800;
}

.odabir-box .p {
  font-size: 13px;
}

.odabir-box .odabir {
  padding: 15px 100px;
  font-size: 18px;
  border-bottom: 1px solid #685c5c5e;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.odabir-box .odabir:last-of-type {
  border-bottom: none;
}

.odabir-box .odabir:hover {
  border-left: 6px solid #ffe07a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #0d3b23;
}

.card {
  border-bottom: 3px solid #ffe07a;
  -webkit-box-shadow: 0px 0px 10px #00000022;
          box-shadow: 0px 0px 10px #00000022;
}

.dugme {
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #ffe07a;
  color: #ffe07a;
  font-weight: 600;
  border-radius: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

.dugme:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: #ffe07a;
  -webkit-transition: 2s;
  transition: 2s;
}

#kartica {
  background-color: #0d3b23;
  color: #ffffff;
  width: 75vw;
  max-height: 90vh;
  margin: 0px auto;
  position: fixed;
  top: -150%;
  left: 50%;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%) scale(1.25);
          transform: translate(-50%, -50%) scale(1.25);
  -webkit-transition: top 0ms ease-in-out 200ms,
 opacity 200ms ease-in-out 0ms,
 -webkit-transform 20ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 200ms,
 opacity 200ms ease-in-out 0ms,
 -webkit-transform 20ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 200ms,
 opacity 200ms ease-in-out 0ms,
 transform 20ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 200ms,
 opacity 200ms ease-in-out 0ms,
 transform 20ms ease-in-out 0ms,
 -webkit-transform 20ms ease-in-out 0ms;
}

#kartica.aktivirana {
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: top 0ms ease-in-out 0ms,
 opacity 200ms ease-in-out 0ms,
 -webkit-transform 20ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 0ms,
 opacity 200ms ease-in-out 0ms,
 -webkit-transform 20ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 0ms,
 opacity 200ms ease-in-out 0ms,
 transform 20ms ease-in-out 0ms;
  transition: top 0ms ease-in-out 0ms,
 opacity 200ms ease-in-out 0ms,
 transform 20ms ease-in-out 0ms,
 -webkit-transform 20ms ease-in-out 0ms;
}

#kartica .close-btn {
  float: right;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 4px;
}

#kartica .dugme {
  border: 2px solid #000000;
  color: #0d3b23;
}

#kartica .dugme:hover {
  color: #ffffff;
  background-color: #0d3b23;
  border: 2px solid #ffffff;
}

#kartica p {
  font-size: 17px;
}

#kartica .form-control {
  border: 2px solid #000000;
}

#kartica .form-control:focus {
  color: #0d3b23;
}

.icon {
  font-size: 30px;
  border: 1px solid #ffe07a;
  padding: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px #00000022;
          box-shadow: 0px 0px 10px #00000022;
}

#statistika {
  background-color: #0d3b23;
}

#statistika .slogan {
  color: #ffffff;
}

#statistika .box {
  background-color: #ffffff11;
}

#statistika .box h4 {
  font-size: 60px;
  font-weight: 800;
  color: #ffffff;
  padding: 20px 0px;
}

#statistika .box i {
  font-size: 30px;
}

#utisci {
  background-image: url("../img/pejzaz7.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#utisci .dark {
  background-color: #000000aa;
}

#utisci .dark p {
  color: #ffffff;
}

#utisci span.ubacen {
  display: block;
  font-family: 'Gwendolyn', cursive;
  font-size: 40px;
  -webkit-animation: ubacen 2s ease;
          animation: ubacen 2s ease;
}

#utisci span.izbacen {
  -webkit-animation: izbacen 1.5s ease;
          animation: izbacen 1.5s ease;
}

.adresa p {
  padding: 10px;
}

.adresa i {
  padding: 10px;
  font-size: 30px;
}

#galerija .galerija {
  cursor: pointer;
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

#galerija .galerija:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.prozor-slike {
  width: 100vw;
  height: 100vh;
  background-color: #000000dd;
  position: fixed;
  top: 0px;
  left: 0px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2000;
}

.prozor-slike img {
  max-height: 80vh;
  max-width: 80vw;
}

.nazad-dugme {
  display: block;
  padding: 15px;
  border-radius: 4px;
  font-size: 30px;
  color: #ffffff;
  background-color: #000000;
  position: fixed;
  top: 48vh;
  left: 10vw;
  z-index: 5000;
}

.naprijed-dugme {
  display: block;
  padding: 15px;
  border-radius: 4px;
  font-size: 30px;
  color: #ffffff;
  background-color: #000000;
  position: fixed;
  top: 48vh;
  left: 85vw;
  z-index: 5000;
}

.form-grupa {
  padding: 5px 10px;
}

.form-grupa .form-control {
  border: 1px solid #ffe07a;
}

.form-grupa .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #ffe07a;
}

iframe {
  height: 450px;
}

footer {
  background-color: #0d3b23;
  color: #ffffff;
}

footer h3 {
  font-size: 25px;
}

footer h3:after {
  content: "";
  display: block;
  position: relative;
  top: 6px;
  width: 52px;
  height: 3px;
  background-color: #ffe07a;
}

footer ul {
  padding: 0px;
}

footer ul li a {
  color: #ffffff;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

footer ul li a:hover {
  color: #ffe07a;
  -webkit-transition: 1s;
  transition: 1s;
  text-decoration: none;
}

footer hr {
  background-color: #ffffff;
}

footer p {
  font-size: 15px;
  font-weight: 400;
}

@-webkit-keyframes ubacen {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes ubacen {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes izbacen {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes izbacen {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@media screen and (max-width: 1010px) {
  .nazad-dugme {
    top: 90vh;
  }
  .naprijed-dugme {
    top: 90vh;
  }
}

@media screen and (max-width: 850px) {
  .slajder {
    margin-bottom: 400px;
  }
}

@media screen and (max-width: 750px) {
  .w75 {
    width: 95vw;
  }
}

@media screen and (max-width: 500px) {
  .slajder {
    margin-bottom: 300px;
  }
}

@media screen and (max-width: 570px) {
  .slogan {
    font-size: 25px;
  }
  #utisci .dark .container .row .text-slajder .text-slajd span.ubacen {
    font-size: 15px;
  }
}

@media screen and (max-width: 430px) {
  .odabir-box .odabir {
    padding: 15px 0px;
    margin: 0px auto;
  }
}

@media screen and (max-width: 400px) {
  .slajder {
    margin-bottom: 200px;
  }
  .slogan {
    font-size: 15px;
  }
  h2 {
    font-size: 10px;
  }
}

@media screen and (max-width: 350px) {
  #statistika .box h4 {
    font-size: 40px;
  }
}
/*# sourceMappingURL=style.css.map */
